/*.App {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
  }
*/

.App-grid {
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.1%;
  margin: 2%;
  padding: 0px;
}

.App-grid li {
  border-radius: 10px;
  padding: 20px;
  list-style-type: none;
}

.paspoortbutton{
  font-family: Harry Potter;
  border: none;
  outline: none;
  font-size: 30px;
  border-radius: 10px;
  padding: 20px;
  list-style-type: none;
  background-image: url(afbeeldingen/Voorkant.png);
  background-size: 100% auto;
  width: 90%;
}


.fotovoorkant{
  margin-top: 160px;
  height: 210px;
}

.naamvoorkant{
  color: #D4AF37;
}


