@font-face {
  font-family: Harry Potter;
  src: url(../HarryP-MVZ6w.ttf);
}

body {
  margin: 0;
  font-family: Harry Potter;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(139, 95, 58);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titel{
  margin-left: 35%;
  padding: 0px;
  color: black;
}