.Passport {
 background-color: #32363f;
}

.Passport:hover {
    cursor: pointer;
}

.Passport.active {
    grid-column-end: span 2;
    grid-row-end: span 2;
    
}

.Passport-details{
   display: grid;
   color: #d4af37;
   grid-template-columns: 1fr 1fr;
   font-family: Harry Potter;
   font-size: 15px;
}

.name{
    color: #d4af37;
    grid-column: 2;
}

.species{
    grid-column: 1;
}

.gender{
    grid-column: 1;
}

.ancestry{
    grid-column: 1;
}

.eye{
    grid-column: 2;
}

.wand{
    grid-column: 2;
}

.patronus{
    grid-column: 2;
}

.foto{
    grid-column: 1;
}

.date{
    grid-column: 2;
}

.hair{
    grid-column: 1;
}